@font-face{
	font-family: "Gloss";
	src: url(../Gloss_And_Bloom.ttf) format('truetype');
}

.nombre {
	
	font-family: "Gloss";
}

.img-proyecto { 
	width: 100% !important;
}

.projects-content .text-content{
	
	margin-top: -100px !important;
}