@font-fave{
	font-family: gloos and bloom;
	scr:url(Gloss_And_Bloom.ttf);
}
*{
	font-family:gloos and bloom;
}
span.a{
display: inline; /* the default sor span */
width:100px;
height: 100px;
padding: 5px;
border: 1px solid blue;
background-color: yellow
}
span.b {
display: inline-block;
width: 100px;
height: 100px;
padding: 5px;
border: 1px solid blue;
background-color: yellow
}
span.c{
display: block;
width:100px;
height: 100px;
padding: 5px;
border: 1px solid blue;
background-color: yellow
}

